.grid {
	display: grid;
	grid: auto-flow 1fr / repeat(3, 1fr);
	width: 100%;
	max-width: 200px;
}

.nextPlayer {
	font-size: 18px;
	margin-bottom: 1rem;
}

.restart {

}

.gameStatus {
	font-size: 15px;
	margin-bottom: 16px;
	
	&[data-status^="X"] {
		color: red; 
	}
	&[data-status^="O"] {
		color: blue; 
	}
}
