.base {
	position: relative;
	display: grid;
	grid: 225px / 225px;
	justify-items: center;
	background: #fff;
	border-radius: 38px;
	padding: 4rem;

	animation: fadein .8s;

	@media screen and (max-width: 450px) {
		padding: 4rem 0;
		width: 100%;
		border-radius:0;
		justify-content: center;
	}

	&:after {
		border-radius: 38px;
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 1;
		border-radius: 36px;
		box-shadow:  43px 43px 92px #d9d9d9, 
		-43px -43px 92px #ffffff;

		animation: fadein 1s;
		pointer-events: none;

		@media screen and (max-width: 450px) {
			border-radius: 0;
		}
	}
}

.board {
	display: grid;
	grid: auto-flow 1fr / repeat(3, 1fr);
	grid-gap: 4px;
	width: 100%;
	max-width: 200px;
	margin-bottom: 1rem;
	background-color: #b6a999;

	transition: opacity .1s;

	&[data-status^="Stalemate"] {
		opacity: .5;
	}
	&[data-status^="X"] + .gameStatus {
		color: #72d9b7; 
		font-weight: 600;
	}
	&[data-status^="O"] + .gameStatus {
		color: #c18500; 
		font-weight: 600;
	}
}

.gameStatus {
	font-family: 'Nunito', serif;
	color: #00000090;
	font-weight: 600;
	font-size: 1.2rem;
	margin: 1rem 0 2rem;
	
}

.restart {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #00000090;
	position: relative;
	border: none;
	outline: none;
	display: block;
	padding: 1rem;
	cursor: pointer;
	border-radius: .5rem;
	background-color: #fff;

	border-radius: 8px;
	background: linear-gradient(145deg, #e6e6e64f, #fff);

	transition: .07s background-color;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: .5rem;
		box-shadow:  7px 7px 14px #d9d9d9, 
		-7px -7px 14px #ffffff;

		transition: .1s box-shadow, .05s background-color;

	}
	&:active {
		background-color: darken(#fff, 5);
	}
	&:hover:after {
		box-shadow: 1px 3px 6px -1px rgba(0,0,0,.2);

	}
	&:active:after {
		box-shadow: 1px 3px 6px -1px rgba(0,0,0,.2);
	}
}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes scale {
	from {scale: 0.8;}
	to {scale: 1;}
}