.root {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 750px;

	display: grid;
	align-content: center;
	justify-items: center;

	background-color: #fff;
}

.heading {
	z-index: 1;
	font-family: Comfortaa, sans-serif;
	font-size: 2rem;
	text-align: center;
	padding-left: .5rem;
	padding-right: .5rem;
	margin-bottom: 3rem;
}

.link {
	z-index: 1;
	color: #00000050;
	font-family: Nunito, sans-serif;
	text-decoration: none;
	margin-top: 2rem;

	transition: color .1s;

	&:hover, &:active, &:focus {
		color: #00000090;
	}
}