.root {
	position: absolute;
	background-color: #fff;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: grid;
	align-content: center;
	justify-items: center;
}

.heading {
	font-family: Comfortaa, sans-serif;
	font-size: 2rem;
	margin-bottom: 3rem;
	z-index: 1;
}

.link {
	color: #00000050;
	font-family: Nunito, sans-serif;
	text-decoration: none;
	margin-top: 2rem;
	z-index: 1;

	transition: color .1s;

	&:hover, &:active, &:focus {
		color: #00000090;
	}
}